<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2009-2011 SKRATCHDOT.COM
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 http://www.eclipse.org/legal/epl-v10.html
 
 Initial modeling finished using information provided by:
 	http://www.sonicspot.com/guide/wavefiles.html
 
 Contributors:
     JEFF |:at:| SKRATCHDOT |:dot:| COM

 $Id$
-->

<plugin>

   <extension
         point="org.eclipse.core.runtime.applications"
         id="RIFFWaveEditorAdvisorApplication">
      <application>
         <run class="com.skratchdot.riff.wav.presentation.RIFFWaveEditorAdvisor$Application"/>
      </application>
   </extension>

   <extension point="org.eclipse.ui.perspectives">
      <perspective
            name="%_UI_Perspective_label"
            class="com.skratchdot.riff.wav.presentation.RIFFWaveEditorAdvisor$Perspective"
            id="com.skratchdot.riff.wav.presentation.RIFFWaveEditorAdvisorPerspective">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command
            name="%_UI_Menu_OpenURI_label"
            description="%_UI_Menu_OpenURI_description"
            categoryId="org.eclipse.ui.category.file"
            id="com.skratchdot.riff.wav.presentation.RIFFWaveEditorAdvisorOpenURICommand"/>
      <command
            name="%_UI_Menu_Open_label"
            description="%_UI_Menu_Open_description"
            categoryId="org.eclipse.ui.category.file"
            id="com.skratchdot.riff.wav.presentation.RIFFWaveEditorAdvisorOpenCommand"/>
   </extension>

   <extension point="org.eclipse.ui.bindings">
      <key
            commandId="com.skratchdot.riff.wav.presentation.RIFFWaveEditorAdvisorOpenURICommand"
            sequence="M1+U"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="com.skratchdot.riff.wav.presentation.RIFFWaveEditorAdvisorOpenCommand"
            sequence="M1+O"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="%_UI_RIFFWaveEditorAdvisor_ActionSet_label"
            visible="true"
            id="RIFFWaveEditorAdvisorActionSet">
         <action
               label="%_UI_Menu_About_label"
               class="com.skratchdot.riff.wav.presentation.RIFFWaveEditorAdvisor$AboutAction"
               menubarPath="help/additions"
               id="com.skratchdot.riff.wav.presentation.RIFFWaveEditorAdvisorAboutAction"/>
         <action
               label="%_UI_Menu_OpenURI_label"
               definitionId="com.skratchdot.riff.wav.presentation.RIFFWaveEditorAdvisorOpenURICommand"
               class="com.skratchdot.riff.wav.presentation.RIFFWaveEditorAdvisor$OpenURIAction"
               menubarPath="file/additions"
               id="com.skratchdot.riff.wav.presentation.RIFFWaveEditorAdvisorOpenURIAction"/>
         <action
               label="%_UI_Menu_Open_label"
               definitionId="com.skratchdot.riff.wav.presentation.RIFFWaveEditorAdvisorOpenCommand"
               class="com.skratchdot.riff.wav.presentation.RIFFWaveEditorAdvisor$OpenAction"
               menubarPath="file/additions"
               id="com.skratchdot.riff.wav.presentation.RIFFWaveEditorAdvisorOpenAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="com.skratchdot.riff.wav.presentation.WavEditorID"
            name="%_UI_WavEditor_label"
            icon="icons/full/obj16/WavModelFile.gif"
            extensions="wav"
            class="com.skratchdot.riff.wav.presentation.WavEditor"
            contributorClass="com.skratchdot.riff.wav.presentation.WavActionBarContributor">
      </editor>
   </extension>

</plugin>
